%div.content.brain-margin
  %strong= @comment.user
  %small= l @comment.created_at, format: :short
  - if @comment.response_to_user_id.present?
    %small en respuesta a 
    %strong= "@"+@comment.response_to_user
  %br
  %p= @comment.body
  - if @comment.parent_comment_id 
    %p= button_tag 'Reply', :class => 'btn btn-default btn-sm', :onclick => "reply_nested_form(#{@comment.id}, #{@comment.parent_comment_id})", :id => "#{@comment.id}"
  - else
    %p= button_tag 'Reply', :class => 'btn btn-default btn-sm', :onclick => "reply_form(#{@comment.id}, #{@comment.id})", :id => "#{@comment.id}"
  %div{:id => "reply-comment-#{@comment.id}"}
%div.response-list{:id => "responses-#{@comment.id}"}
%div{:id => "real-reply-comment-#{@comment.id}", :style=>"margin-left: 50px;"}