= form_for @campaign do |f|
  - if @campaign.errors.any?
    #error_explanation
      %h2= "#{pluralize(@campaign.errors.count, "error")} prohibited this campaign from being saved:"
      %ul
        - @campaign.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :created_by
    = f.number_field :created_by
  .field
    = f.label :started_at
    = f.datetime_select :started_at
  .field
    = f.label :finished_at
    = f.datetime_select :finished_at
  .field
    = f.label :end_payment_at
    = f.datetime_select :end_payment_at
  .field
    = f.label :end_instalation_at
    = f.datetime_select :end_instalation_at
  .actions
    = f.submit 'Save'
